<div class="home-view">
    <h2>Welcome {{user.firstName}} {{user.lastName}}!</h2>


    <a href="#/" id="favourites-btn" class="btn btn-info " ng-click="toggleSidePanel()">Favourite Books</a>
    <a href="#/toc-editor" id="new-book-btn" class="btn btn-info ">New Book</a>
    <div pageslide ps-open="sidePanelOpened" ps-side="right" ps-custom-top="45px">
        <div class="side-panel-content">
            <i class="fa fa-times" id="close-button" ng-click="toggleSidePanel()"></i>
            <h2>Favourite Books</h2>
        </div>
    </div>

    <p><a href="#/login" class="btn btn-primary">Logout</a></p>
</div>
